body {
    background-color: rgb(179, 159, 119);
    font-size: 25px;
    margin: 50px 0px 20px;
}

img {
  height: 300px;
  width: 300px;
}

p,
ol,
ul {
  width: 600px;
}

h1, h2, h3, .section {
    display: flex;
    justify-content: center;
    align-items: center;
}